button {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #046da9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  font-size: 18px;
  padding-top: 10px;
}

p > span {
  padding-left: 10px;
}

